<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <script src="svcCommon/js/jq-lastest.js"></script>
  <script src="svcCommon/js/swiper.js"></script>
  <link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-index" style="background-image:url(svcCommon/images/bg_oak.jpg);">
    <article id="" class="popup-fulltype">
        <!-- 01 -->
        <div class="alert-layout">
            <h1>용품 수량 선택</h1>
            <table class="popup-tbl subsection30">
                <colgroup><col style="width:60%;"><col></colgroup>
                <thead>
                    <tr>
                        <th scope="col">용품</th>
                        <th scope="col">수량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
							<span class="thumb"><img src="common/images/ic_goods.png" alt=""></span>
							슬리퍼
						</td>
                        <td>
                            <div class="spinner">
                                <button type="button" class="minus"></button>
                                <input type="text" class="f-rb" value="1" readonly>
                                <button type="button" class="plus"></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w381">확인</button>
                <button type="button" class="set-btn-type1 w381">취소</button>
            </div>
        </div>

        <!-- 02 -->
        <div class="alert-layout" style="display:none;">
            <h1>신청 내역</h1>
            <table class="popup-tbl subsection30">
                <colgroup><col style="width:50%;"><col><col style="width:25%;"></colgroup>
                <thead>
                    <tr>
                        <th scope="col">용품</th>
                        <th scope="col">수량</th>
                        <th scope="col">상태</th>
                    </tr>
                </thead>
            </table>
            <div class="wrap-popup-tbl scroll-type">
                <table class="popup-tbl type2">
                    <colgroup><col style="width:50%;"><col><col style="width:25%;"></colgroup>
                    <tbody>
                        <tr>
                            <td class="a-left">슬리퍼</td>
                            <td class="f-rb">3</td>
                            <td class="status"><i>요청중</i></td>
                        </tr>
                        <tr>
                            <td class="a-left">슬리퍼</td>
                            <td class="f-rb">3</td>
                            <td class="status">완료</td>
                        </tr>
                        <tr>
                            <td class="a-left">슬리퍼</td>
                            <td class="f-rb">1</td>
                            <td class="status">완료</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w100p">확인</button>
            </div>
        </div>

        <!-- 03 -->
        <div class="alert-layout" style="display:none;">
            <h1>요청 확인</h1>
            <p class="desc-alert">컨시어지명을 요청하시겠습니까?</p>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w381">확인</button>
                <button type="button" class="set-btn-type1 w381">취소</button>
            </div>
        </div>

        <!-- 04 -->
        <div class="alert-layout" style="display:none;">
            <h1>체크아웃 확인</h1>
            <p class="desc-alert">체크인 정보가 없습니다.</p>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w100p">확인</button>
            </div>
        </div>

        <!-- 05 -->
        <div class="alert-layout" style="display:none;">
            <h1>체크아웃 확인</h1>
            <p class="desc-alert">체크아웃 가능 날짜가 아닙니다.</p>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w100p">확인</button>
            </div>
        </div>

        <!-- 06 -->
        <div class="alert-layout" style="display:none;">
            <h1>체크아웃 신청 확인</h1>
            <p class="desc-alert multy-row">
                결제하실 금액이 없습니다.<br>
                객실 내 체크아웃이 가능합니다.<br>
                체크아웃 하시겠습니까?
            </p>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w381">확인</button>
                <button type="button" class="set-btn-type1 w381">취소</button>
            </div>
        </div>

        <!-- 07 -->
        <div class="alert-layout" style="display:none;">
            <h1>체크아웃 확인</h1>
            <p class="desc-alert multy-row">
                추가 결제 금액이 있습니다.<br>
                결제를 위해 프론트로 내방해 주세요.<br>
                콘도회원은 키오스크에서도 결제 가능합니다.<br>
                체크아웃 하시겠습니까?
            </p>
            <div class="charge-check">
                추가 요금
                <strong><i class="f-rb800">32,000</i> 원 </strong>
            </div>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w381">확인</button>
                <button type="button" class="set-btn-type1 w381">취소</button>
            </div>
        </div>

        <!-- 08 -->
        <div class="alert-layout" style="display:none;">
            <h1>체크아웃 완료</h1>
            <p class="desc-alert multy-row">
                체크아웃이 완료되었습니다.<br>
                체크아웃 후에는 재입실이 불가하며, 객실 정비가 진행됩니다.<br>
                빠른 퇴실 부탁 드립니다.<br>
                이용해 주셔서 감사합니다.
            </p>
            <div class="btn-area">
                <button type="button" class="set-btn-type1 w100p">확인</button>
            </div>
        </div>

    </article>
</div>
</body>
</html>
