<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
  <script src="svcCommon/js/jq-lastest.js"></script>
  <script src="svcCommon/js/swiper.js"></script>
  <link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-movie">
    <section id="contents-movie">
		<img src="svcCommon/images/img_src_sv.jpg" alt="" style="width:100%; height:auto;">
    </section>
</div>
</body>
</html>