<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
  <script src="svcCommon/js/jq-lastest.js"></script>
  <link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-trip3 scroll-type" style="background-image:url(svcCommon/images/bg_webcam.jpg);">
    <section id="contents">
		<div class="wrap-title-area">
			<h1 class="type-txt">반석개발 더파티세종점</h1>
			<span class="public-data">
				<img src="svcCommon/images/img_trip_data.png" alt="">
				<img src="svcCommon/images/img_trip_data02.png" alt="">
			</span>
        </div>
        <div class="trip-detail">
            <div class="complex-area">
                <span class="thumb"><img src="svcCommon/images/img_trip3.jpg" alt=""></span>
                <div class="wrap-txt-cont">
                    <div class="txt-cont scroll-type" tabindex="0">
                        본점은 1979년 12월 17일 롯데쇼핑센터라로 개점하였다.
                        서울특별시 중구 남대문로 81(소공동)에 있으며, 서울 지하철
                        2호선 을지로입구역과는 바로 연결되어 있다.
                        본점 9~12층에 롯데면세점이 있고 에비뉴엘 6층에는
                        롯데시네마 가 있다.
                        롯데백화점과 롯데호텔 본관, 신관, 에비뉴엘, 롯데영플라자
                        포함 해 롯데타운을 형성하고 있으며 본점 매출에는 에비뉴엘
                        영플 롯데백화점과 롯데호텔 본관, 신관, 에비뉴엘, 롯데
                        본점은 1979년 12월 17일 롯데쇼핑센터라로 개점하였다.
                        서울특별시 중구 남대문로 81(소공동)에 있으며, 서울 지하철
                        2호선 을지로입구역과는 바로 연결되어 있다.
                        본점 9~12층에 롯데면세점이 있고 에비뉴엘 6층에는
                        롯데시네마 가 있다.
                        롯데백화점과 롯데호텔 본관, 신관, 에비뉴엘, 롯데영플라자
                        포함 해 롯데타운을 형성하고 있으며 본점 매출에는 에비뉴엘
                        영플 롯데백화점과 롯데호텔 본관, 신관, 에비뉴엘, 롯데
                    </div>
                    <div class="btn-area">
                        <a href="#" class="set-btn-type2 w741"><i class="a-dw">더보기</i></a>
                    </div>
                </div>
            </div>
            <h2>상세정보</h2>
            <table class="info-table">
            <colgroup><col style="width:335px;"><col></colgroup>
            <tbody>
                <tr>
                    <th scope="row">전화번호</th>
                    <td>02-6301-7203</td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>강원 원주시 지정면 월송석화로 608 (우)26357 지번지정면 월송리 978-2</td>
                </tr>
                <tr>
                    <th scope="row">주차시설</th>
                    <td>주차가능</td>
                </tr>
                <tr>
                    <th scope="row">영업시간</th>
                    <td>12:00~15:00 / 18:00~22:30 (마지막 주문 20:30) 일요일, 명절 휴무</td>
                </tr>
            </tbody>
            </table>
            <h2>찾아가는 길</h2>
            <div class="map-area">
                <img src="svcCommon/images/img_trip3_map.jpg" alt="">
            </div>
        </div>
    </section>
</div>

</body>
</html>