<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
  <script src="svcCommon/js/jq-lastest.js"></script>
  <script src="svcCcommon/js/swiper.js"></script>
  <link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-index" style="background-image:url(svcCommon/images/bg_webcam.jpg);">
  <section id="contents">
    <h1 class="type-txt">객실용품 요청</h1>
    <p class="desc-title">필요하신 사항을 선택해주세요.</p>
    <div class="weather-api">
      <i class="icon"><img src="svcCommon/images/ic_weather_type01.png" alt=""></i>
      <span class="tmper-area"><em class="f-rb">28</em>℃</span>
      <span class="day-date">
        금요일<br>
        2018.01.27
      </span>
      <em class="time f-rb200">06:21</em>
      <span class="am-pm">오후</span>
    </div>
	<div class="wrap-ame column2-type">
		<button class="prev"></button>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_01.png" alt="">
							<img src="svcCommon/images/ic_ame02_01_over.png" alt="" class="over">
						</i>
						체중계
						<i class="count">1</i>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_02.png" alt="">
							<img src="svcCommon/images/ic_ame02_02_over.png" alt="" class="over">
						</i>
						이불
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_03.png" alt="">
							<img src="svcCommon/images/ic_ame02_03_over.png" alt="" class="over">
						</i>
						가습기
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_04.png" alt="">
							<img src="svcCommon/images/ic_ame02_04_over.png" alt="" class="over">
						</i>
						휴지
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_05.png" alt="">
							<img src="svcCommon/images/ic_ame02_05_over.png" alt="" class="over">
						</i>
						슬리퍼
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_06.png" alt="">
							<img src="svcCommon/images/ic_ame02_06_over.png" alt="" class="over">
						</i>
						토스트기
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_07.png" alt="">
							<img src="svcCommon/images/ic_ame02_07_over.png" alt="" class="over">
						</i>
						공기청청기
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_08.png" alt="">
							<img src="svcCommon/images/ic_ame02_08_over.png" alt="" class="over">
						</i>
						필기구
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#amenity" class="layer-pop-control">
						<i class="icon">
							<img src="svcCommon/images/ic_ame02_09.png" alt="">
							<img src="svcCommon/images/ic_ame02_09_over.png" alt="" class="over">
						</i>
						물컵
					</a>
				</div>
			</div>
		</div>
		<button class="next"></button>
	</div>
	<div class="genie-voice">
      <em>지니야,</em>
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">체중계 보여줘</div>
            <div class="swiper-slide">이불 보여줘</div>
            <div class="swiper-slide">가습기 보여줘</div>
            <div class="swiper-slide">휴지 보여줘</div>
			<div class="swiper-slide">슬리퍼 보여줘</div>
			<div class="swiper-slide">토스트기 보여줘</div>
			<div class="swiper-slide">공기청정기 보여줘</div>
			<div class="swiper-slide">필기구 보여줘</div>
			<div class="swiper-slide">물컵 보여줘</div>
        </div>
      </div>
    </div>
    <a href="#request" class="request add-guide layer-pop-control">요청내역</a>
    <span class="guide-cell">
      <i class="prev">이전</i>
      <i class="next">다음</i>
    </span>
  </section>

<!-- layer popup 객실 요청 (어메니티) -->
<article id="amenity" class="popup-fulltype" style="display:none;">
  <!-- 01 -->
  <div class="alert-layout">
      <h1>용품 수량 선택</h1>
      <table class="popup-tbl subsection30">
      <colgroup><col style="width:60%;"><col></colgroup>
      <thead>
          <tr>
              <th scope="col">용품</th>
              <th scope="col">수량</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                <span class="thumb"><img src="svcCommon/images/ic_goods.png" alt=""></span>
                슬리퍼
              </td>
              <td>
                  <div class="spinner">
                      <button type="button" class="minus"></button>
                      <input type="text" class="f-rb" value="1" readonly>
                      <button type="button" class="plus"></button>
                  </div>
              </td>
          </tr>
      </tbody>
      </table>
      <div class="btn-area">
          <a href="#confirm" class="set-btn-type1 w381 confirm layer-pop-control">확인</a>
          <button type="button" class="set-btn-type1 w381 cancel">취소</button>
      </div>
  </div>
</article>
<!-- //layer popup 객실 요청 (어메니티) -->

<!-- layer popup 객실 요청 (컨시어지) -->
<article id="confirm" class="popup-fulltype" style="display:none;">
  <div class="alert-layout">
      <h1>요청 확인</h1>
      <p class="desc-alert">컨시어지명을 요청하시겠습니까?</p>
      <div class="btn-area">
          <button type="button" class="set-btn-type1 w381 confirm">확인</button>
          <button type="button" class="set-btn-type1 w381 cancel">취소</button>
      </div>
  </div>
</article>
<!-- //layer popup 객실 요청 (컨시어지) -->

<!-- layer popup 객실 요청 (요청내역) -->
<article id="request" class="popup-fulltype" style="display:none;">
  <div class="alert-layout">
    <h1>신청 내역</h1>
    <table class="popup-tbl subsection30">
        <colgroup><col style="width:50%;"><col><col style="width:25%;"></colgroup>
        <thead>
            <tr>
                <th scope="col">용품</th>
                <th scope="col">수량</th>
                <th scope="col">상태</th>
            </tr>
        </thead>
    </table>
    <div class="wrap-popup-tbl scroll-type" tabindex="0">
        <table class="popup-tbl type2">
            <colgroup><col style="width:50%;"><col><col style="width:25%;"></colgroup>
            <tbody>
                <tr>
                    <td class="a-left">슬리퍼</td>
                    <td class="f-rb">3</td>
                    <td class="status"><i>요청중</i></td>
                </tr>
                <tr>
                    <td class="a-left">슬리퍼</td>
                    <td class="f-rb">3</td>
                    <td class="status">완료</td>
                </tr>
                <tr>
                    <td class="a-left">슬리퍼</td>
                    <td class="f-rb">1</td>
                    <td class="status">완료</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-area">
        <button type="button" class="set-btn-type1 w100p confirm">확인</button>
    </div>
</div>
</article>
<!-- //layer popup 객실 요청 (요청내역) -->

</div>
<script>
function popupControl() {
	var target = $('.layer-pop-control');
	$.each(target,function() {
		$(this).on('click',function(e) {
			e.preventDefault();
			$($(this).attr('href')).show();
			$($(this).attr('href')).find('.confirm').on('click',function(e) {
        e.preventDefault();
        $(this).closest($('.popup-fulltype')).hide();
			})
      $($(this).attr('href')).find('.cancel').on('click',function(e) {
        e.preventDefault();
				$(this).closest($('.popup-fulltype')).hide();
			})
		})
	})
}
popupControl();
function spinnerControl() {
  var minus = $('.spinner .minus'),
      plus = $('.spinner .plus'),
      input = $('.spinner input[type="text"]');
  plus.on('click',function() {
    if (parseInt(input.val()) > 0) {
      input.val(parseInt(input.val()) + 1);
    };
  })
  minus.on('click',function() {
    if (parseInt(input.val()) > 1) {
      input.val(parseInt(input.val()) - 1);
    };
  })
}
spinnerControl();

function ameSlide() {
	var ameSwiper = new Swiper('.wrap-ame .swiper-container', {
		slidesPerView: 5,
		slidesPerColumn: 2,
		spaceBetween: 30,
		loop: false,
	});
  if($('.wrap-ame .swiper-container .swiper-slide').length <= 10) {
    $('.wrap-ame .prev').addClass('disabled');
    $('.wrap-ame .next').addClass('disabled');
  }
  $('.wrap-ame .prev').on('click',function() {
    if (!$(this).is('.disabled')) {
      ameSwiper.slidePrev();
    }
  })
  $('.wrap-ame .next').on('click',function() {
    if (!$(this).is('.disabled')) {
      ameSwiper.slideNext();
    }
  })
}
ameSlide();

function setSlide() {
  var menuSwiper2 = new Swiper('.genie-voice .swiper-container', {
    slidesPerView: 1,
    spaceBetween: 0,
    direction: 'vertical',
    loop: true,
    height: 69,
    autoplay: {
      delay: 1000,
    }
  });
}
setTimeout(function() {setSlide()},10)
</script>
</body>
</html>
