<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>KT_GigaGenie</title>
<meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
<script src="svcCommon/js/jq-lastest.js"></script>
<script src="svcCommon/js/swiper.js"></script>
<script type="text/javascript" src="../../nicekit/js/interfaces/ServiceInterface.js"></script>
<link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body onload=init()>
	<div id="document" class="type-index" style="background-image: url(svcCommon/images/bg_webcam.jpg);">
		<section id="contents">
			<div class="wrap-title-area">
				<h1 class="type-txt">이벤트</h1>
			</div>
			<ul class="evt-list scroll-type" tabindex="0">
				<li><a href="#"> <img src="svcCommon/images/img_evt.jpg" alt=""> <span class="information"> <strong class="name">오크밸리
								'Summer Holiday'</strong> <span class="period">2018년 8월 2일 (목) ~ 2018년 9월 16일 (월)</span>
					</span> <i class="count">1</i>
				</a></li>
				<li><a href="#"> <img src="svcCommon/images/img_evt.jpg" alt=""> <span class="information"> <strong class="name">오크밸리
								'Summer Holiday'</strong> <span class="period">2018년 8월 2일 (목) ~ 2018년 9월 16일 (월)</span>
					</span>
				</a></li>
				<li><a href="#"> <img src="svcCommon/images/img_evt.jpg" alt=""> <span class="information"> <strong class="name">오크밸리
								'Summer Holiday'</strong> <span class="period">2018년 8월 2일 (목) ~ 2018년 9월 16일 (월)</span>
					</span>
				</a></li>
				<li><a href="#"> <img src="svcCommon/images/img_evt.jpg" alt=""> <span class="information"> <strong class="name">오크밸리
								'Summer Holiday'</strong> <span class="period">2018년 8월 2일 (목) ~ 2018년 9월 16일 (월)</span>
					</span>
				</a></li>
				<li><a href="#"> <img src="svcCommon/images/img_evt.jpg" alt=""> <span class="information"> <strong class="name">오크밸리
								'Summer Holiday'</strong> <span class="period">2018년 8월 2일 (목) ~ 2018년 9월 16일 (월)</span>
					</span>
				</a></li>
				<li><a href="#"> <img src="svcCommon/images/img_evt.jpg" alt=""> <span class="information"> <strong class="name">오크밸리
								'Summer Holiday'</strong> <span class="period">2018년 8월 2일 (목) ~ 2018년 9월 16일 (월)</span>
					</span>
				</a></li>
				<li><a href="#"> <img src="svcCommon/images/img_evt.jpg" alt=""> <span class="information"> <strong class="name">오크밸리
								'Summer Holiday'</strong> <span class="period">2018년 8월 2일 (목) ~ 2018년 9월 16일 (월)</span>
					</span>
				</a></li>
			</ul>
			<div class="genie-voice">
				<em>지니야,</em>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">첫번째 이벤트 보여줘</div>
						<div class="swiper-slide">두번째 이벤트 보여줘</div>
						<div class="swiper-slide">세번째 이벤트 보여줘</div>
						<div class="swiper-slide">네번째 이벤트 보여줘</div>
						<div class="swiper-slide">다섯번째 이벤트 보여줘</div>
						<div class="swiper-slide">여섯번째 이벤트 보여줘</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script>
function setSlide() {
  var menuSwiper2 = new Swiper('.genie-voice .swiper-container', {
    slidesPerView: 1,
    spaceBetween: 0,
    direction: 'vertical',
    loop: true,
    height: 69,
    autoplay: {
      delay: 1000,
    }
  });
}
setTimeout(function() {setSlide()},10)
</script>
</body>
</html>
