<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
  <script src="svcCommon/js/jq-lastest.js"></script>
  <link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-trip" style="background-image:url(svcCommon/images/bg_webcam.jpg);">
  <section id="contents">
		<div class="wrap-title-area">
			<h1 class="type-txt">음식점</h1>
			<span class="public-data">
				<img src="svcCommon/images/img_trip_data.png" alt="">
				<img src="svcCommon/images/img_trip_data02.png" alt="">
			</span>
		</div>
		<ul class="trip-list2 scroll-type" tabindex="0">
			<li>
				<a href="#">
                    <span class="thumb"><img src="svcCommon/images/img_trip2.jpg" alt=""></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="thumb"><strong class="f-rb600">NO IMAGE</strong></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="thumb"><img src="svcCommon/images/img_trip2.jpg" alt=""></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="thumb"><img src="svcCommon/images/img_trip2.jpg" alt=""></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="thumb"><img src="svcCommon/images/img_trip2.jpg" alt=""></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="thumb"><img src="svcCommon/images/img_trip2.jpg" alt=""></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="thumb"><img src="svcCommon/images/img_trip2.jpg" alt=""></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="thumb"><img src="svcCommon/images/img_trip2.jpg" alt=""></span>
                    <span class="information">
                        <strong class="name">반석개발 더파티세종점 더파티세종점</strong>
                        <i class="tel">031-3396-5882</i>
                        <i class="address">강원도 원주시 지면 청리청리 청리 청리 청리</i>
                        <span class="txt-cont">세종시 종촌동에 위치한 더파티
                        전문쉐프가 만드는 글로벌한
                        프리미엄급 메뉴와 세심한 메뉴와 메뉴와 메뉴와 메뉴와 메뉴와 </span>
                    </span>
                </a>
            </li>
		</ul>
  </section>
</div>
</body>
</html>