<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
  <script src="svcCommon/js/jq-lastest.js"></script>
  <script src="svcCommon/js/swiper.js"></script>
  <link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-index" style="background-image:url(svcCommon/images/bg_oak.jpg);">
    <section id="contents">
        <h1><img src="svcCommon/images/h1_gigaresort.png" alt="GiGA Genie Resort"></h1>
        <div class="weather-api">
        <i class="icon"><img src="svcCommon/images/ic_weather_type01.png" alt=""></i>
        <span class="tmper-area"><em class="f-rb">28</em>℃</span>
        <span class="day-date">
            금요일<br>
            2018.01.27
        </span>
        <em class="time f-rb200">06:21</em>
        <span class="am-pm">오후</span>
        </div>
        <div class="intro-resort">
            <h2><img src="svcCommon/images/h2_oak.png" alt=""></h2>
            <p class="desc">자연과 문화, 스포츠가 어우러진 꿈의 공간 오크밸리에 오신 것을 환영합니다.<br>저희 오크밸리에서 특별한 추억을 만드세요.</p>
            <div class="btn-area">
                <a href="#" class="set-btn-type2 w402">시작하기</a>
            </div>
        </div>
    </section>
    <article id="agree-popup" class="popup-fulltype">
        <h1>사용자 개인정보 제공 동의 (필수)</h1>
        <div class="wrap-agree">
            <div class="agree"><div class="scroll-type" tabindex="0">
                <p>GiGA Genie 서비스(이하 “서비스”라 한다)와 관련하여, 본인은 동의내용을 숙지하였으며, 이에 따라 본인의 개인정보를 귀사(주식회사 케이티)가 수집 및 이용하는 것에 대해 동의합니다.</p>
                <ul class="subsection40">
                    <li>1) 수집/이용 목적: 서비스 제공 및 서비스 품질 향상</li>
                    <li>2) 개인정보 항목(필수동의 항목): 서비스 실행을 위한 억양/문장/단어 등 사용자 음성명령 언어정보, 서비스 요청/실행/접속 로그, 서비스 이용시간/이용기록</li>
                    <li>3) 보유 및 이용기간: 서비스 기간</li>
                </ul>
                <ul>
                    <li>※ 서비스 제공을 위해서 필요한 최소한의 개인정보이므로 동의를 해주셔야 서비스를 이용하실 수 있습니다.</li>
                    <li>※ 귀하께서 이용하시는 AI 호텔 서비스 정보(로그기록, 서비스 이용계약 이행과정에서 자동적으로 생성되는 정보)는 수집, 저장되고어 서비스 운영, 서비스 이용현황 및 통계분석을 통한 서비스 개선을 위하여 이용됩니다. 또한 관계법령의 규정에 의거하여 개인정보를 보유할 필요가 있는 경우에는 해당 법령에서 정한 일정 기간 동안 정보를 보관할 수 있습니다.</li>
                    <li>※ 개인 인적 사항은 별도 저장하지 않으며, 호텔로부터 제공받은 개인정보의 경우도 체크아웃과 동시에 삭제하고, 별도 보관되지 않습니다. 개인정보 처리방침에 따릅니다.</li>
                </ul>
            </div></div>
            <div class="btn-area">
                <a href="#" class="set-btn-type2 w402">동의하기</a>
            </div>
        </div>
    </article>
</div>
<script>
setTimeout(function() {
  $('.popup-fulltype').find('.set-btn-type2').attr('tabindex',0).focus();
},100)
</script>
</body>
</html>
