<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
  <script src="svcCommon/js/jq-lastest.js"></script>
  <script src="svcCommon/js/swiper.js"></script>
  <link rel="stylesheet" type="text/css" href="svcCommon/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-index" style="background-image:url(svcCommon/images/bg_oak.jpg);">
  <section id="contents">
    <h1><img src="svcCommon/images/h1_gigaresort.png" alt="GiGA Genie Resort"></h1>
    <div class="weather-api">
      <i class="icon"><img src="svcCommon/images/ic_weather_type01.png" alt=""></i>
      <span class="tmper-area"><em class="f-rb">2</em>℃</span>
      <span class="day-date">
        목요일<br>
        2019.02.21
      </span>
      <em class="time f-rb200">05:21</em>
      <span class="am-pm">오후</span>
    </div>
    <div class="intro-resort">
        <h2><img src="svcCommon/images/h2_oak.png" alt=""></h2>
        <p class="desc">자연과 문화, 스포츠가 어우러진 꿈의 공간 오크밸리에 오신 것을 환영합니다.<br>저희 오크밸리에서 특별한 추억을 만드세요.</p>
        <div class="btn-area">
            <a href="#" class="set-btn-type2 w402">시작하기</a>
        </div>
    </div>
</section>
</div>
</body>
</html>