@charset "utf-8";

.popup_ai_b2b { width:1000px; }
.ai_b2b_form { clear:both; padding:5px; }
.ai_b2b_form .chk_frm { position:relative; }
.ai_b2b_form .hid_rdo { position:absolute; opacity:0; visibility:hidden; }
.ai_b2b_form .hid_rdo + label span { position:relative; top:-1px; }
.ai_b2b_form .lb { font-weight:bold; color:#333; }
.ai_b2b_form .frm { position:relative; padding-left:100px; }
.ai_b2b_form .frm ~ .frm { border-top:1px solid #333; padding-top:10px; margin-top:10px; }
.ai_b2b_form .frm > li + li { margin-top:10px; }
.ai_b2b_form .frm > li > .lb { position:absolute; left:0; line-height:34px; }
.ai_b2b_form .frm .opt_check { margin-bottom:-10px; }
.ai_b2b_form .opt_check { margin-bottom:10px; padding:7px 0; }
.ai_b2b_form .opt_check .chk_frm { padding-left:30px; }
.ai_b2b_form .frm_tb .hd > li:not(.ctrl) { background-color:#f1f1f1; text-align:center; }
.ai_b2b_form .frm_tb .hd > li { line-height:30px; color:#333; font-weight:bold; font-size:0.9em; }
.ai_b2b_form .frm_tb > ul { display:table; table-layout:fixed; width:100%; border-collapse:collapse; }
.ai_b2b_form .frm_tb > ul + ul { margin-top:-1px; }
.ai_b2b_form .frm_tb > ul > li { display:table-cell; vertical-align:middle; box-sizing:border-box; }
.ai_b2b_form .frm_tb > ul > li:not(.ctrl) { border:1px solid #ccc; }
.ai_b2b_form .frm_tb > ul > li.ctrl { padding-left:10px; width:120px; }
.ai_b2b_form .frm_tb .ctrl .bn { position:relative; box-sizing:border-box; }
.ai_b2b_form .frm_tb .ctrl .btn_add { width:70px; height:30px; padding-left:17px; padding-right:10px; }
.ai_b2b_form .frm_tb .ctrl .btn_add:before { content:""; position:absolute; left:15px; width:7px; height:1px; top:50%; background-color:#fff; }
.ai_b2b_form .frm_tb .ctrl .btn_add:after { content:""; position:absolute; left:18px; height:7px; width:1px; top:50%; margin-top:-3px; background-color:#fff; }
.ai_b2b_form .frm_tb .ctrl .btn_remove { border:1px solid #c3373a; overflow:hidden; width:26px; height:26px; border-radius:13px; }
.ai_b2b_form .frm_tb .ctrl .btn_remove > em { left:0; position:absolute; opacity:0; }
.ai_b2b_form .frm_tb .ctrl .btn_remove:before { content:""; background-color:#c3373a; width:10px; margin:0 auto; height:2px; display:inline-block; vertical-align:middle; position:relative; top:-1px; }
.ai_b2b_form .frm_tb .no { width:46px; text-align:center; }
.ai_b2b_form .frm_tb input { border:0; width:100%; }
.ai_b2b_form .frm_tb select { width:100%; padding-left:10px; padding-right:30px; border:0; background-position:95% 50%; }
.ai_b2b_form .tab_cont { margin-top:20px; }
.ai_b2b_form .btns { text-align:center; margin-top:20px; padding-left:100px; }
.ai_b2b_form .result { margin:-10px; }
.ai_b2b_form .result .rs { display:table; table-layout:fixed; width:100%; border-spacing:10px; }
.ai_b2b_form .result .rs > li { display:table-cell; vertical-align:top; padding:10px; border:1px solid #ccc; position:relative; }
.ai_b2b_form .result .frm_tb > ul:not(.hd) > li { text-align:center; }
.ai_b2b_form .result .frm_tb { box-sizing:border-box; border:1px solid #ccc; overflow-x:hidden; overflow-y:auto; height:300px; }
.ai_b2b_form .result .frm_tb > ul { margin:-1px; width:-webkit-calc(100% + 2px); width:calc(100% + 2px); }
.ai_b2b_form .result .frm_tb select { background-position:92% 50%; }
.ai_b2b_form .post_check { display:table; width:100%; table-layout:fixed; margin-bottom:30px; }
.ai_b2b_form .post_check > li { display:table-cell; vertical-align:middle; }
.ai_b2b_form .post_check > li + li { padding-left:8px; }
.ai_b2b_form .post_check > li:not(.check) { width:100px; vertical-align:top; }
.ai_b2b_form .post_check > li:last-child { width:120px; padding-left:24px; }
.ai_b2b_form .post_check .btn02:not(.black) { min-width:100px; padding:0 10px; }
.ai_b2b_form .post_check .check { padding:3px 0; }
.ai_b2b_form .tab { height:auto; margin-top:20px; }
.ai_b2b_form .tab > ul > li > a { padding:12px 0; }
.ai_b2b_form .tabt:after { content:""; display:block; clear:both; }
.ai_b2b_form input,
.ai_b2b_form select,
.ai_b2b_form textarea { font-size:1em; }

.ai_b2b_form .codes { position:relative; text-align:left; height:300px; }
.ai_b2b_form .codes .ta { display:block; border:1px solid #ccc; height:100%; width:100%; box-sizing:border-box; }
.ai_b2b_form .codes .ta textarea { border:0; width:auto; height:auto; padding:0; }
.ai_b2b_form .codes textarea.ta { padding:10px; }
.ai_b2b_form .codes div.ta {  }


.ai_b2b_form .codes pre { white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-all; }
.ai_b2b_form .codes code { direction:ltr; text-align:left; white-space:pre; word-spacing:normal; word-break:normal; word-wrap:normal; tab-size:inherit; }
.ai_b2b_form .codes:not(pre) > code[class*="language-"], 
.ai_b2b_form .codes pre[class*="language-"] { border:0; }
.ai_b2b_form .codes code[class*="language-"], 
.ai_b2b_form .codes pre[class*="language-"] { line-height:24px; font-size:13px; }
.ai_b2b_form .codes pre[class*="language-"] > code[class*="language-"] { background:url('../images/code_bg.jpg') repeat #fff; }
