<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>KT_GigaGenie</title>
  <meta name="viewport" content="width=1920, height=1080, user-scalable=no" />
  <script src="common/js/jq-lastest.js"></script>
  <link rel="stylesheet" type="text/css" href="common/css/gigagenie.css">
</head>
<body>

<div id="document" class="type-index" style="background-image:url(common/images/bg_webcam.jpg);">
  <section id="contents">
    <div class="wrap-title-area">
        <h1 class="type-txt">윈터 판타지 컬러 라이딩</h1>
        <span class="period">
            2019년 3월 19일 (월) ~ 2019년 4월 20일 (토)
        </span>
    </div>
    <div class="evt-detail scroll-type" tabindex="0">
        <img src="common/images/img_evt_detail.jpg" alt="">
        <img src="common/images/img_evt_detail.jpg" alt="">
    </div>
    <span class="guide-cell">
      <i class="prev">이전</i>
      <i class="next">다음</i>
    </span>
    <span class="guide-cell2">
      <i class="up">위</i>
      <i class="down">아래</i>
    </span>
  </section>
</div>

</body>
</html>
